<%- include('./partials/head') %>

<main>
    <!-- Notes start -->
    <section class="section menu">
        <div class="note-container container">
            <div class="note-text">
                <h2 class="section-title">Notities van Pepijn</h2>
                <p class="section-description">Hieronder kan je een nieuwe notitie maken en oude notities bekijken.</p>
            </div>

            <!-- New note form start -->
            <article class="note-create">
                <div class="title-form">Maak een nieuwe notitie</div>
                <div class="content">
                    <form action="/" method="post">
                        <div class="note-details">
                            <div class="input-box">
                                <span class="details">Titel</span>
                                <input type="text" name="titel" id="titel" placeholder="Voeg een titel toe" title="Voer titel in van notitie" required />
                            </div>
                            <div class="input-box">
                                <span class="details">Notitie</span>
                                <textarea id="beschrijving" name="beschrijving" placeholder="Vul hier jouw notitie in" title="Vul de notitie in" required></textarea>
                            </div>
                            <div class="input-box">
                                <span class="details">Datum</span>
                                <input name="herinnering" id="herinnering" type="datetime-local" title="Vul de datum van vandaag in" required />
                            </div>
                            <div class="input-box">
                                <span class="details">Datum herinnering</span>
                                <input name="datum" id="datum" type="datetime-local" title="Vul de datum in wanneer je een herinnering wilt" required />
                            </div>
                        </div>
                        <div class="button">
                            <input type="submit" value="Verstuur" />
                        </div>
                    </form>
                </div>
            </article>
            <!-- New note form end -->

            <div class="note-content">
                <div class="note-items">
                    <!-- forEach loop so that it checks every note and displays it -->
                    <% notities.forEach(notitie => { %>
                    <div class="note-item flex">
                        <img src="/placeholder.png" alt="Afbeelding van de pinda en ei van Vini Mini" class="note-img" />

                        <div class="note-item-details">
                            <!-- Title of the note will be displayed here -->
                            <h4 class="note-item-topic"><%= notitie.titel %></h4>
                            <!-- Description of the note will be displayed here -->
                            <p class="note-item-description"><%= notitie.beschrijving %></p>
                        </div>

                        <div class="note-item-dates">
                            <h4 class="note-item-topic">Datum</h4>
                            <!-- Date of the note will be displayed here -->
                            <span class="note-item-description"><%= notitie.datum %></span>
                        </div>

                        <div class="note-item-dates">
                            <h4 class="note-item-topic">Datum van herinnering</h4>
                            <!-- Reminder date of the note will be displayed here -->
                            <span class="note-item-description"><%= notitie.herinnering %></span>
                        </div>
                    </div>
                    <% }); %>
                </div>
            </div>
        </div>
    </section>
    <!-- Notes end -->
</main>

<%- include('./partials/foot') %>
